<footer class="footer" id="footer">
  <div class="container">
    <div class="footer-thumb">
      <h2 class="footer-title">
        <span>Chocolate</span> a delicious cure for a bad day
      </h2>
      <div class="footer-contacts-thumb">
        <div>
          <p class="footer-subtitle">Contact us</p>
          <ul class="footer-contacts-list">
            <li><a href="tel:+380684439426">+380 (68) 443-94-26</a></li>
            <li>
              <a href="email:simplychoc@gmail.com">simplychoc@gmail.com</a>
            </li>
          </ul>
        </div>
        <ul class="footer-icons-list">
          <li>
            <a href="">
              <svg class="footer-icons">
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="">
              <svg class="footer-icons">
                <use href="/img/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <ul class="footer-nav">
      <li><a href="#header">Home</a></li>
      <li><a href="#how">How it’s made?</a></li>
      <li><a href="#products">Our products</a></li>
      <li><a href="#sellers">Top sellers</a></li>
      <li><a href="#choco">Chocolate is loved</a></li>
    </ul>
  </div>
</footer>
