<section>
  <div class="container hero-wrapper">
    <div class="hero">
      <h2 class="hero-title">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h2>

      <div class="hero-thumb">
        <ul class="hero-btn-list">
          <li>
            <button type="button" class="primary-btn hero-btn">Buy now</button>
          </li>
          <li>
            <button type="button" class="primary-btn buy hero-btn">
              How it’s made
            </button>
          </li>
        </ul>

        <a href="#footer" class="scroll-link"
          >scroll down
          <span class="icon-wrapper">
            <svg class="scroll-icon">
              <use href="/img/icons.svg#icon-arrow"></use></svg
          ></span>
        </a>
      </div>
    </div>
  </div>
</section>
