<section>
  <div class="container hero-wrapper">
    <div class="hero">
      <h2 class="hero-title">
        Treat yourself or a loved one to our finest ingredients for a moment of
        pure delight!
      </h2>

      <div class="hero-thumb">
        <ul class="hero-btn-list">
          <li>
            <button
              type="button"
              class="primary-btn hero-btn js-open-modal"
              data-modal="1"
            >
              Buy now
            </button>
          </li>
          <li>
            <a type="button" class="primary-btn buy hero-btn" href="#how">
              How it’s made
            </a>
          </li>
        </ul>

        <a href="#footer" class="scroll-link"
          >scroll down
          <span class="icon-wrapper">
            <svg class="scroll-icon">
              <use href="/img/icons.svg#icon-arrow"></use></svg
          ></span>
        </a>
      </div>
    </div>

    <div class="modal modal-buy" data-modal="1">
      <button type="button" class="close-modal-btn js-modal-close">
        <svg width="28" height="28">
          <use href="/img/icons.svg#icon-x-close"></use>
        </svg>
      </button>

      <h3 class="primary-title"><span>bUY</span> nOW</h3>
      <div class="swiper buy-slider">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide buyer-slide">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="/img/transparent-chocolate-bar-dark-chocolat-desk.webp"
              />
              <source
                media="(min-width: 375px)"
                srcset="/img/transparent-chocolate-bar-dark-chocolat-mob.webp"
              />
              <img
                src="/img/transparent-chocolate-bar-dark-chocolat-mob.webp"
                alt="choco"
              />
            </picture>
            <p class="weight">100 g</p>
          </div>
          <div class="swiper-slide buyer-slide">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="/img/praline-kinder-chocolate-bonbon-milk-desk.webp"
              />
              <source
                media="(min-width: 375px)"
                srcset="/img/praline-kinder-chocolate-bonbon-milk-mob.webp"
              />
              <img
                src="/img/praline-kinder-chocolate-bonbon-milk-mob.webp"
                alt="choco"
              />
            </picture>
            <p class="weight">200 g</p>
          </div>
          <div class="swiper-slide buyer-slide">
            <picture>
              <source
                media="(min-width: 1200px)"
                srcset="/img/chocolate-white-chocolate-chocolate-nuts-desk.webp"
              />
              <source
                media="(min-width: 375px)"
                srcset="/img/chocolate-white-chocolate-chocolate-nuts-mob.webp"
              />
              <img
                src="/img/chocolate-white-chocolate-chocolate-nuts-mob.webp"
                alt="choco"
              />
            </picture>
            <p class="weight">300 g</p>
          </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination swiper-pagination-buy"></div>
      </div>

      <form class="form-buy">
        <div>
          <p class="buy-label">Personal information</p>
          <label
            ><input type="text" placeholder="Name" class="input-name"
          /></label>
          <label><input type="text" placeholder="Surname" /></label>
        </div>

        <div>
          <p class="buy-label">Email</p>
          <label><input type="email" placeholder="Enter your email" /></label>
        </div>

        <div>
          <p class="buy-label">Phone number</p>
          <label><input type="tel" placeholder="Phone number" /></label>
        </div>

        <div>
          <p class="buy-label">Card number</p>
          <label><input type="text" placeholder="Enter card" /></label>
        </div>

        <div>
          <p class="buy-label">Comment</p>
          <label>
            <textarea type="tel" placeholder="Enter text"></textarea>
          </label>
        </div>

        <button
          type="submit"
          class="primary-btn js-open-modal buy-modal-btn"
          data-modal="2"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</section>
