<section class="how-section" id="how">
  <div class="container">
    <h2 class="primary-title">
      HOW IT’S <span class="how-title-color">made?</span>
    </h2>

    <div class="how-thumb">
      <div>
        <iframe
          loading="lazy"
          class="iframe"
          src="https://www.youtube.com/embed/tVZhAi6Fpx8"
          title="Как делают шоколад ?"
          frameborder="0"
          allow=" autoplay; encrypted-media"
          allowfullscreen
        ></iframe>

        <!-- <iframe
          loading="lazy"
          class="iframe"
          src="https://www.youtube.com/embed/J65d3aSkFwM"
          title="Шоколад | Как это устроено | Discovery"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen
        ></iframe> -->
      </div>
      <div class="how-desk">
        <h3 class="how-subtitle">
          Try our chocolates today and discover the perfect balance of flavor
        </h3>
        <ul class="how-list">
          <li>
            <p>
              Heat the milk in a saucepan without bringing it to a boil. Add
              sugar and cocoa powder.
            </p>
          </li>
          <li>
            <p>
              At the same time, prepare a water bath. Melt the butter on it.
            </p>
          </li>
          <li>
            <p>
              "Mix" the milk mixture and already liquid butter. Mix thoroughly
              with a silicone spatula so that the mass becomes uniform and
              silky.
            </p>
          </li>
          <li>
            <p>Heat the mixture over low heat, letting it barely boil.</p>
          </li>
          <li>
            <p>
              Pour the chocolate into special containers (can be replaced with
              ice molds). Allow to cool and harden.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
