<section class="reviews">
  <div class="container">
    <h2 class="primary-title reviews-title"><span>chocolate</span> is loved</h2>

    <!-- Slider main container -->
    <div class="swiper swiper-review">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide review-slide">
          <img
            src="/img/persone-1.jpg"
            alt="Victoria Dobrzhanska"
            loading="lazy"
          />
          <div class="review-thumb">
            <h3 class="review-name">Victoria Dobrzhanska</h3>
            <p>
              I love this chocolate bar. Perfect combination of light crispy
              wafer, covered in a thin layer chocolate.
            </p>
          </div>
        </div>
        <div class="swiper-slide review-slide">
          <img src="/img/persone-2.jpg" alt="Nazar Babenko" loading="lazy" />
          <div class="review-thumb">
            <h3 class="review-name">Nazar Babenko</h3>
            <p>
              This chocolate confection is a delight! A delight! The wafer is
              light and crisp, the hazelnut cream is smooth, and the chocolate
              is good.
            </p>
          </div>
        </div>
        <div class="swiper-slide review-slide">
          <img src="/img/persone-3.jpg" alt="Olena Kampusch" loading="lazy" />
          <div class="review-thumb">
            <h3 class="review-name">Olena Kampusch</h3>
            <p>
              Chocolate is a family favourite treat. Love the delicious smooth
              chocolate and the creaminess inside. The wafer is soft but
              crunchy.
            </p>
          </div>
        </div>
        <div class="swiper-slide review-slide">
          <img
            src="/img/persone-4.jpg"
            alt="Danilo Nottingham"
            loading="lazy"
          />
          <div class="review-thumb">
            <h3 class="review-name">Danilo Nottingham</h3>
            <p>
              This is delicious. It so rich and flavorful you don’t need to use
              as many. I love topping an apple with almond butter and these
              chips for a snack.
            </p>
          </div>
        </div>
        <div class="swiper-slide review-slide">
          <img src="/img/persone-5.jpg" alt="Natalia Sus" loading="lazy" />
          <div class="review-thumb">
            <h3 class="review-name">Natalia Sus</h3>
            <p>
              The chocolate assortment was delicious. Both dark and milk
              chocolate pieces were smooth and just right on the sweetness
              level.
            </p>
          </div>
        </div>
        <div class="swiper-slide review-slide">
          <img src="/img/persone-6.jpg" alt="Irina Tydnyuk" loading="lazy" />
          <div class="review-thumb">
            <h3 class="review-name">Irina Tydnyuk</h3>
            <p>
              This is simply the best chocolate around, and I'm just thrilled to
              support a local company! Best local chocolate - world class :)
            </p>
          </div>
        </div>
      </div>

      <div class="swiper-pagination swiper-pagination-review"></div>
    </div>
  </div>
</section>
