<section class="sellers" id="sellers">
  <div class="container">
    <h2 class="primary-title"><span>top</span> Sellers</h2>

    <ul class="seller-list">
      <li class="seller-item">
        <picture class="seller-pic">
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/seller-one-deskWeb.webp   1x,
              /img/seller-one-deskWeb2x.webp 2x
            "
            type="image/webp" />

          <source
            media="(min-width: 1200px)"
            srcset="/img/seller-one-desk.jpg 1x, /img/seller-one-desk2x.jpg 2x"
            type="image/jpeg" />

          <source
            media="(min-width: 768px)"
            srcset="
              /img/seller-one-tabWeb.webp   1x,
              /img/seller-one-tabWeb2x.webp 2x
            "
            type="image/webp" />

          <source
            media="(min-width: 768px)"
            srcset="/img/seller-one-tab.jpg 1x, /img/seller-one-tab2x.jpg 2x"
            type="image/jpeg" />

          <source
            media="(min-width: 375px)"
            srcset="
              /img/seller-one-mobWeb.webp   1x,
              /img/seller-one-mobWeb2x.webp 2x
            "
            type="image/webp" />

          <source
            media="(min-width: 375px)"
            srcset="/img/seller-one-mob.jpg 1x, /img/seller-one-mob2x.jpg 2x"
            type="image/jpeg" />

          <img
            src="/img/seller-one-mob.jpg"
            loading="lazy"
            alt="chocolate with coffee and nuts"
        /></picture>

        <p class="seller-desk">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="seller-item">
        <picture class="seller-pic">
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/seller-two-deskWeb.webp   1x,
              /img/seller-two-deskWeb2x.webp 2x
            "
            type="image/webp" />

          <source
            media="(min-width: 1200px)"
            srcset="/img/seller-two-desk.jpg 1x, /img/seller-two-desk2x.jpg 2x"
            type="image/jpeg" />

          <source
            media="(min-width: 768px)"
            srcset="
              /img/seller-two-tabWeb.webp   1x,
              /img/seller-two-tabWeb2x.webp 2x
            "
            type="image/webp" />

          <source
            media="(min-width: 768px)"
            srcset="/img/seller-two-tab.jpg 1x, /img/seller-two-tab2x.jpg 2x"
            type="image/jpeg" />

          <source
            media="(min-width: 375px)"
            srcset="
              /img/seller-two-mobWeb.webp   1x,
              /img/seller-two-mobWeb2x.webp 2x
            "
            type="image/webp" />

          <source
            media="(min-width: 375px)"
            srcset="/img/seller-two-mob.jpg 1x, /img/seller-two-mob2x.jpg 2x"
            type="image/jpeg" />

          <img
            src="/img/seller-two-mob.jpg"
            loading="lazy"
            alt="chocolate with nuts and caramel"
        /></picture>
      </li>
      <li class="seller-item">
        <picture class="seller-pic">
          <source
            media="(min-width: 1200px)"
            srcset="
              /img/seller-three-deskWeb.webp   1x,
              /img/seller-three-deskWeb2x.webp 2x
            "
            type="image/webp" />

          <source
            media="(min-width: 1200px)"
            srcset="
              /img/seller-three-desk.jpg   1x,
              /img/seller-three-desk2x.jpg 2x
            "
            type="image/jpeg" />

          <img
            src="/img/seller-three-desk.jpg"
            loading="lazy"
            alt="dark chocolate"
        /></picture>
      </li>
    </ul>
    <button
      class="seller-btn primary-btn js-open-modal"
      type="button"
      data-modal="1"
    >
      Buy now
    </button>
  </div>
</section>
