<section class="sellers" id="sellers">
  <div class="container">
    <h2 class="primary-title"><span>top</span> Sellers</h2>

    <ul class="seller-list">
      <li class="seller-item">
        <picture class="seller-pic">
          <source
            media="(min-width: 1200px)"
            srcset="/img/seller-one-desk.jpg" />
          <source media="(min-width: 768px)" srcset="/img/seller-one-tab.jpg" />
          <source media="(min-width: 375px)" srcset="/img/seller-one-mob.jpg" />

          <img src="/img/seller-one-mob.jpg" alt=""
        /></picture>

        <p class="seller-desk">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="seller-item">
        <picture class="seller-pic">
          <source
            media="(min-width: 1200px)"
            srcset="/img/seller-two-desk.jpg" />
          <source media="(min-width: 768px)" srcset="/img/seller-two-tab.jpg" />
          <source media="(min-width: 375px)" srcset="/img/seller-two-mob.jpg" />

          <img src="/img/seller-two-mob.jpg" alt=""
        /></picture>
      </li>
      <li class="seller-item">
        <picture class="seller-pic">
          <source
            media="(min-width: 1200px)"
            srcset="/img/seller-three-desk.jpg" />

          <img src="/img/seller-three-desk.jpg" alt=""
        /></picture>
      </li>
    </ul>
    <button class="seller-btn primary-btn" type="button">Buy now</button>
  </div>
</section>
