<section class="unique">
  <div class="container">
    <h2 class="primary-title unique-title">
      IT ALL ADDS UP TO ONE EXCEPTIONAL <span>TASTE</span> SENSATION
    </h2>
    <p class="unique-subsc">
      At Simply Chocolate, we believe that the secret to exceptional chocolate
      is in the details. From the sourcing of the finest ingredients to the
      careful crafting of each individual piece, every step of our process adds
      up to one exceptional taste sensation.
    </p>

    <ul class="unique-list">
      <li class="unique-item">
        <a href="" class="unique-link">
          <picture>
            <source
              media="(min-width: 1200px )"
              srcset="/img/choco-plate-desk.png"
            />
            <source
              media="(min-width: 375px )"
              srcset="/img/choco-plate-mob.png"
            />
            <img src="/img/choco-plate-mob.png" alt="choco" width="264" />
          </picture>

          <p>MILK CHOCOLATE</p>

          <div class="unique-overlay">
            <h3 class="overlay-title">Milk chocolate</h3>
            <ul class="overlay-list">
              <li class="overlay-list-item">
                <p>chocolate</p>
              </li>
              <li class="overlay-list-item">
                <p>the benefits</p>
              </li>
            </ul>
            <p class="overaly-disc">
              Milk chocolate is a solid chocolate confectionery containing
              cocoa, sugar and milk. It is the most consumed type of chocolate.
              Chocolate was originally sold and consumed as a beverage in
              pre-Columbian times. Although four-fifths of all milk chocolate is
              sold in the United States and Europe, increasingly large...
            </p>
          </div>
        </a>
      </li>
      <li class="unique-item">
        <a href="" class="unique-link">
          <picture>
            <source media="(min-width: 1200px )" srcset="/img/milk-desk.png" />
            <source media="(min-width: 375px )" srcset="/img/milk-mob.png" />
            <img src="/img/milk-mob.png" alt="choco" width="264"
          /></picture>

          <p>MILK</p>

          <div class="unique-overlay">
            <h3 class="overlay-title">Milk</h3>
            <ul class="overlay-list">
              <li class="overlay-list-item">
                <p>milk</p>
              </li>
              <li class="overlay-list-item">
                <p>the benefits</p>
              </li>
            </ul>
            <p class="overaly-disc">
              Milk is a white liquid food produced by the mammary glands of
              mammals. It is the primary source of nutrition for young mammals
              (including breastfed human infants) before they are able to digest
              solid food.Early-lactation milk, which is called colostrum,
              contains antibodies that strengthen the immune system...
            </p>
          </div>
        </a>
      </li>
      <li class="unique-item">
        <a href="" class="unique-link">
          <picture>
            <source media="(min-width: 1200px )" srcset="/img/nuts-desc.png" />
            <source media="(min-width: 375px )" srcset="/img/nuts-mob.png" />
            <img src="/img/nuts-mob.png" alt="choco" width="264"
          /></picture>

          <p>NUTS</p>
          <div class="unique-overlay">
            <h3 class="overlay-title">Nuts</h3>
            <ul class="overlay-list">
              <li class="overlay-list-item">
                <p>nuts</p>
              </li>
              <li class="overlay-list-item">
                <p>the benefits</p>
              </li>
            </ul>
            <p class="overaly-disc">
              Almonds, pistachios, and walnuts are some types of nuts that
              contain healthy nutrients. When eaten as part of a nutrient-dense
              diet, these 9 nuts may offer benefits such as reducing your risk
              of heart disease. They’re a good source of fiber, healthy fats,
              and plant protein. Plus, they’re great on their own, paired
              with...
            </p>
          </div></a
        >
      </li>
      <li class="unique-item">
        <a href="" class="unique-link">
          <picture>
            <source media="(min-width: 1200px )" srcset="/img/choco-desk.png" />
            <source media="(min-width: 375px )" srcset="/img/choco-mob.png" />
            <img src="/img/choco-mob.png" alt="choco" width="264"
          /></picture>

          <p>SEMI-SWEET CHOCOLATE</p>
          <div class="unique-overlay">
            <h3 class="overlay-title">sweet chocolate</h3>
            <ul class="overlay-list">
              <li class="overlay-list-item">
                <p>sweet chocolate</p>
              </li>
              <li class="overlay-list-item">
                <p>the benefits</p>
              </li>
            </ul>
            <p class="overaly-disc">
              Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One
              of the best ways to gain an understanding of this type of
              chocolate is to compare it to a different type of chocolate.
              Semisweet is darker than milk chocolate. In a taste comparison, it
              has a slightly bitter taste whereas milk chocolate is sweeter
              and...
            </p>
          </div></a
        >
      </li>
    </ul>
  </div>
</section>
